<mat-card class="mat-elevation-z8 text-center mb-5">

  <div class="mb-4">
    <h2>Como realizar as pesquisas:</h2>
    <p>
      Para pesquisar se uma empresa precisa de licenciamento ambiental informe o Número de Inscrição no Cadastro Nacional.<br>
      Exemplo: 11.111.111/0001-00
    </p>
    <p>
      Para pesquisar se um CNAE precisa de licenciamento ambiental informe o Código do CNAE (Classe).<br>
      Exemplo: 01.11-3
    </p>
    <p>
      Para pesquisar se um CNAE precisa de licenciamento ambiental informe o Código do CNAE (Subclasse).<br>
      Exemplo: 01.11-3-01
    </p>
  </div>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <app-input [label]="controls.search.value.length > 7 ? 'CNPJ' : 'CNAE'" placeholder="Informe o CNAE ou CNPJ" [showLabel]="false"
      [mask]="{format: '00.00-0||00.00-0-00||00.000.000/0000-00'}" (keyup)="checkCNPJ()" [control]="controls.search"></app-input>
  
    <button mat-raised-button type="submit" color="primary" [disabled]="submitting || formGroup.invalid">
      <span *ngIf="!submitting">Consultar</span>
      <span *ngIf="submitting">Consultando...</span>
    </button>
  </form>

</mat-card>

<!-- SUBCLASSES -->
<mat-card class="mat-elevation-z8 text-center" *ngIf="class && !subClassSelected && !company">
  <h2 class="mb-0">CNAE: {{ class.id | mask:'00.00-0' }}</h2>
  <h4>Selecione uma Subclasse</h4>
  <mat-radio-group [(ngModel)]="subClassId" fxLayout="column" (change)="selectSubClass()">
    <mat-radio-button class="mb-2" *ngFor="let subclass of class._subclasses" [value]="subclass.id">{{ subclass.description }}</mat-radio-button>
  </mat-radio-group>
</mat-card>

<mat-card class="mat-elevation-z8 text-center" *ngIf="subClassSelected">
  <h2 class="mb-0">CNAE: {{ subClassSelected.id | mask:'00.00-0-00' }}</h2>
  <h4>Descrição: {{ subClassSelected.description }}</h4>
  <h3 *ngIf="subClassSelected.type === 'notRequired'">Licenciamento <b>NÃO obrigatório!</b></h3>
  <h3 *ngIf="subClassSelected.type === 'required'">Licenciamento <b>obrigatório!</b></h3>
  <h3 *ngIf="subClassSelected.type === 'depend'"><b>Consulte</b> sobre o Licenciamento!</h3>
  <h4 *ngIf="subClassSelected.type !== 'notRequired'">
    Entre em contato conosco para verificar o licenciamento e demais obrigatoriedades pelo e-mail
    <a href="mailto:contato@actuara.com.br">contato@actuara.com.br</a>
  </h4>
</mat-card>

<app-company-detail [company]="company"></app-company-detail>